
.card {
  width: 90%;
  height: 8 0%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 40%;
  text-align: center;
  border-style: none;
}

.card p{
font-size: 13px;
}
.card-text{
font-size: 16px;
}
.card:hover{
box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.2), 0 6px 20px 0 rgba(43, 43, 43, 0.2);
}

.form-control{
    border-radius: 10px;
}

.container-fluid{
  background-color: #fafaff;
  font-size: medium;
}

.form-group button{
  width: 350px;
  height: 40px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #20c997;
  color: #fafaff;
}

.form-group input{
  width: 350px;
  height: 40px;
  margin-bottom: 15px;
}
.form-group input[type=checkbox]{
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 15px;
}
.form-control{
  border-radius: 10px;
}

.menu{
  width: 100%;
  height: 60px;
  background-color:#5fdfb4;
  font-family: Arial;
  z-index: 999;
  position: relative;
  
}
.menu ul{
  list-style: none;
  position: relative;
}
.menu ul li{
  width: 150px;
  float: left;
  
}
.menu a{
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #5fdfb4;
  color: #fafaff;
}
.menu ul ul{
  position: absolute;
  visibility: hidden;
}
.menu ul li:hover ul{
  visibility: visible;
}
.menu ul ul li{
  float: none;
}
.menu ul ul li a{
  background-color: #5fdfb4;
}
label[for="ch-menu"]{
  padding: 5px;
  background-color: #5fdfb4;
  color: #fafaff;
  font-family: Arial;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
#ch-menu{
  display: none;
}
label[for="ch-menu"]{
  display: none;
}
#menu-dropdown{
  background-color: #5fdfb4 ;
}
.menu ul{
  background-color: #5fdfb4;
}
#temas{
  margin-left: 30%;
}

#corpo{
  float: right;
  margin-top: 5%;
}

#corpo h2{
  margin-left: 0px;
  font-weight: 600;
}
#corpo p{
  margin-bottom: 5%;
  font-weight: 400;
  font-size: 15px;
}

#menu button i{
  background-color: transparent;
  color:#fafaff;
  visibility: hidden;
}


#cabecalho{
  background-color: #4AE3B0;
}

#logo{
  width: 80px;
  height: 80px;
  margin: 2px;
  margin-left: 80%;
}

#topo{
  background-color: #4AE3B0;
}

#cadastro{
  width: 5%;
  float: right;
  margin-top:2%;
  margin-right: 4%;
}
#txtnome{
  border-radius: 10px;
  padding: 4px;
}
#txtemail{
  border-radius: 10px;
  padding: 4px;
}
#senha1{
  border-radius: 10px;
  padding: 4px;
}

#senha2{
  border-radius: 10px;
  padding: 4px;
}

#txtcpf{
  border-radius: 10px;
  padding: 4px;
}

#txttel{
  border-radius: 10px;
  padding: 4px;
}

#busca{
  border-radius: 25px;
  border: solid 1px transparent;
  margin-left: 20%;
  margin-top: 3%;
  height: 40px;
  padding-left: 25px;
  font-size: 13px;
}

#rodape{
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #000;
  color: #f8f8ff;
  width: 100%;
  height: 60px;
  font-size: 12px;
  font-weight: bold;
}
#rodape p{
  padding: 5px;
  text-align: center;
  margin-left: 200px;
}

.container-fluid button {
  background-color: transparent;
  border: none;
  padding: 5px;
  margin-top: 15px;

}
.container-fluid button i{
  color: #fff;
}
a{
  text-decoration: none;
  color: white;
  background-color: #4AE3B0;
}

input[type=text] {
  float: center;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

input[type=text] {
  width: 350px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 70%;
  border-color: transparent;
}

@media (max-width: 800px){
  #temas{
    margin-left: 0;
  }
  label[for="ch-menu"]{
    display: block;
  }
  #ch-menu:checked ~ .menu{
    margin-left: 0;
  }
  .menu{
    margin-left: -180%;
    transition: all .4s;
  }
  .menu ul li{
    width: 100%;
    float: none;

  }
  .menu ul ul{
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all .4s;
  }
  .menu ul li:hover ul{
    height: auto;
    max-height: 200px;
    
    line-height: 1rem;
  }
  #ch-menu{
    display: none;
  }
  #corpo{
      margin-top: 10%;
  }
  #busca{
      width: 200px;
      font-size: 11px;
      margin-left: 3%;
      margin-top: 15px;
  }
  #logo{ 
      width: 70px;
      height: 70px;
      margin-left: 0px;
  }
  #bt-conta{
      margin-top: 16px;
      margin-left:  35%;
  }
  #bt-carrinho{
      display: none;
  }

}

