#cabecalho{
  background-color: #4AE3B0;
}

#logo{
  width: 80px;
  height: 80px;
  margin: 2px;
  margin-left: 80%;
}
#topo{
  background-color: #4AE3B0;
}

/*------------*/
    .card {
      width: 80%;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 4%;
    }

  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .card {
      width: 70%;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 4%;
    }
  }
  